<div class="page page-skills slide">
  <div class="page-wrapper">
    <aside>
      <a href="#home" class="button-back button-back-to-about">
        <img data-src="img/arrow-left.svg" alt="Back to About" class="tablet">
        <img data-src="img/arrow-left-white.svg" alt="Back to About" class="mobile-only">
        <span><%=lang.skills.back %></span>
      </a>
      <h2 class="main-title">
        <%-lang.skills.title %>
      </h2>
    </aside>
    <div class="content-wrapper">
      <section class="content skills-container">
          <header class="content skills-experience-header">
            <a href="javascript:;" class="skills-experience-toggle">
              <span class="back-arrow"></span>
              <span><%=lang.skills.experience %> </span>
            </a>
          </header>
          <div class="scroll-container default-skin">
            <div class="scroll-content">
              <div class="experience-group">
                <h3><%=lang.skills.idioms_title%></h3>
                <dl>
                  <dt class="idiom-list"><%=lang.skills.idioms.portuguese%></dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                  </dt>
                  <dt class="idiom-list"><%=lang.skills.idioms.english%></dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item"></span>
                  </dt>
                  <dt class="idiom-list"><%=lang.skills.idioms.spanish%></dt>
                  <dt>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item rating-item-full"></span>
                    <span class="rating-item"></span>
                    <span class="rating-item"></span>
                  </dt>
                </dl>
              </div>
              <div class="experience-group">
                <h3><%=lang.skills.expert_at%></h3>
                <div class="technologies-group">
                  <span class="devicons devicons-html5"></span>
                  <span class="devicons devicons-css3"></span>
                  <span class="devicons devicons-javascript_badge"></span>
                  <span class="devicons devicons-jquery"></span>
                  <span class="devicons devicons-wordpress"></span>
                </div>
              </div>
              <div class="experience-group">
                <h3><%=lang.skills.proficient_at%></h3>
                <div class="technologies-group">
                  <span class="devicons devicons-php"></span>
                  <span class="devicons devicons-angular"></span>
                  <span class="devicons devicons-git"></span>
                  <span class="devicons devicons-sass"></span>
                  <span class="devicons devicons-less"></span>
                  <span class="devicons devicons-bootstrap"></span>
                  <span class="devicons devicons-nodejs_small"></span>
                  <span class="devicons devicons-grunt"></span>
                  <span class="devicons devicons-bower"></span>
                  <span class="devicons devicons-gulp"></span>
                  <span class="devicons devicons-phonegap"></span>
                  <span class="devicons devicons-mysql"></span>

                </div>
              </div>
              <div class="experience-group">
                <h3><%=lang.skills.familiar_with%></h3>
                <div class="technologies-group">
                  <span class="devicons devicons-heroku"></span>
                  <span class="devicons devicons-coffeescript"></span>
                  <span class="devicons devicons-zend"></span>
                  <span class="devicons devicons-dotnet"></span>
                  <span class="devicons devicons-ruby_on_rails"></span>
                  <span class="devicons devicons-travis"></span>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="content experience-container">
          <header class="content skills-experience-header">
            <a href="javascript:;" class="skills-experience-toggle">
              <span class="back-arrow"></span>
              <span><%=lang.skills.full_skillset%></span>
            </a>
          </header>
          <div class="scroll-container default-skin">
            <button class="focus-workaround"></button>
            <ul class="experience-list">
              <li class="experience-item">
                <h3>Bemind Tecnologia</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-ruby_on_rails" data-desc="Ruby on Rails"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-gulp" data-desc="Gulp"></li>
                  <li class="skill devicons devicons-grunt" data-desc="Grunt"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-less" data-desc="Less"></li>
                  <li class="skill devicons devicons-bower" data-desc="Bower"></li>
                  <li class="skill devicons devicons-heroku" data-desc="Heroku"></li>
                  <li class="skill devicons devicons-sass" data-desc="Sass"></li>
                  <li class="skill devicons devicons-coffeescript" data-desc="CoffeeScript"></li>
                  <li class="skill devicons devicons-postgresql" data-desc="PostgreSql"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-ionic" data-desc="Ionic"></li>

                </ul>
               <%-lang.skills.bemind %>
              </li>
              <li>
                <h3>Altran España</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-sass" data-desc="Sass"></li>
                  <li class="skill devicons devicons-dotnet" data-desc="Dot Net"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-git"></li>
                </ul>
                <%-lang.skills.altran %>
              </li>
              <li>
                <h3>
                  SUATI - Suporte Avançado em Tecnologia da Informação
                </h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-dotnet" data-desc=".net"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                </ul>
                <%-lang.skills.suati %>
              </li>
              <li>
                <h3>
                  Caju Agência Digital
                </h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-phonegap" data-desc="Phonegap"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                  <li class="skill devicons devicons-grunt" data-desc="Grunt"></li>
                  <li class="skill devicons devicons-less" data-desc="Less"></li>
                  <li class="skill devicons devicons-bower" data-desc="Bower"></li>
                  <li class="skill devicons devicons-wordpress" data-desc="Wordpress"></li>
                  <li class="skill devicons devicons-mysql" data-desc="Mysql"></li>
                  <li class="skill devicons devicons-php" data-desc="php"></li>
                  <li class="skill devicons devicons-requirejs" data-desc="RequireJS"></li>
                  <li class="skill devicons devicons-angular" data-desc="AngularJS"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-ionic" data-desc="Ionic"></li>
                </ul>
                <%-lang.skills.caju %>
              </li>
              <li>
                <h3>Fingertips(Pontomobi)</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-responsive"></li>
                  <li class="skill devicons devicons-sass"></li>
                  <li class="skill devicons devicons-git"></li>
                  <li class="skill devicons devicons-php"></li>
                </ul>
               <%-lang.skills.fingertips %>
              </li>
              <li>
                <h3>C.E.S.A.R</h3>
                <ul class="skillset">
                  <li class="skill devicons devicons-android"></li>
                  <li class="skill devicons devicons-java"></li>
                  <li class="skill devicons devicons-dotnet"></li>
                  <li class="skill devicons devicons-wordpress"></li>
                  <li class="skill devicons devicons-mysql"></li>
                  <li class="skill devicons devicons-php"></li>
                  <li class="skill devicons devicons-responsive" data-desc="Responsive Web Development"></li>
                </ul>
                <%-lang.skills.cesar%>
              </li>
              <li>
                <%-lang.skills.full_portfolio%>
              </li>
            </ul>
          </div>
      </section>
    </div>
  </div>
</div>
