<div class="page page-portfolio section">
  <div class="container">
    <div class="secondary-title">
      <img data-src="/img/<%=lang.idiom.current%>-header-my-work.svg" alt="">
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide project-transforma" data-detail="<%=lang.idiom.current%>-transforma-recife-details">
          <div class="project-container loaded" style="background-image: url(/img/site-transforma-recife.jpg)"></div>
          <div class="project-data">
            <h3 class="project-title">Transforma Recife</h3>
            <a href="javascript:;" class="see-it-in-action"><%=lang.portfolio.see_more %></a>
          </div>
        </div>
        <div class="swiper-slide project-holidays" data-detail="<%=lang.idiom.current%>-sunweb-holidays-details">
          <div class="project-container" data-bg="/img/site-sunweb.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Sunweb Holidays</h3>
            <a href="javascript:;" class="see-it-in-action"><%=lang.portfolio.see_more %></a>
          </div>
        </div>
        <div class="swiper-slide project-suati" data-detail="<%=lang.idiom.current%>-suati-details">
          <div class="project-container" data-bg="/img/site-suati.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">SUATI</h3>
            <a href="javascript:;" class="see-it-in-action"><%=lang.portfolio.see_more %></a>
          </div>
        </div>
        <div class="swiper-slide project-manhattan" data-detail="<%=lang.idiom.current%>-manhattan-details">
          <div class="project-container" data-bg="/img/site-manhattan.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Manhattan Cafe &amp; Theatro</h3>
            <a href="javascript:;" class="see-it-in-action"><%=lang.portfolio.see_more %></a>
          </div>
        </div>
        <% /*<div class="swiper-slide project-multi">
          <div class="project-container" data-bg="/img/site-multi.jpg"></div>
          <div class="project-data">
            <h3 class="project-title">Your project</h3>
            <a href="javascript:;" class="see-it-in-action">let's work together?</a>
          </div>
        </div>
        */ %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
